body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:49px;
  width:400px;
  height:621px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:621px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:410px;
  top:175px;
  width:64px;
  height:20px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:560px;
  width:100px;
  height:30px;
  font-size:20px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:175px;
  width:50px;
  height:45px;
  font-size:36px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:298px;
  top:240px;
  width:112px;
  height:29px;
  font-size:25px;
  color:#990000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:421px;
  top:560px;
  width:33px;
  height:30px;
  font-size:20px;
  color:#CCCCCC;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:254px;
  top:280px;
  width:200px;
  height:250px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:250px;
}
#u13 {
  position:absolute;
  left:2px;
  top:117px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:158px;
  top:344px;
  width:80px;
  height:38px;
  font-size:16px;
  color:#990000;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:38px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:150px;
  top:426px;
  width:94px;
  height:38px;
  font-size:16px;
  color:#990000;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:154px;
  top:392px;
  width:87px;
  height:24px;
  color:#FF9900;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:154px;
  top:470px;
  width:87px;
  height:24px;
  color:#FF9900;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:154px;
  top:279px;
  width:306px;
  height:256px;
  overflow:hidden;
  visibility:hidden;
}
#u22_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:256px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u22_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u23 {
  position:absolute;
  left:100px;
  top:0px;
  width:206px;
  height:250px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:250px;
}
#u24 {
  position:absolute;
  left:2px;
  top:117px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:226px;
  width:102px;
  height:24px;
  color:#FF0000;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:24px;
}
#u26 {
  position:absolute;
  left:2px;
  top:4px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:14px;
  top:230px;
  width:60px;
  height:16px;
  color:#FF0000;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:276px;
  top:5px;
  width:24px;
  height:25px;
  font-family:'Courier New Regular', 'Courier New';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:108px;
  top:26px;
  width:189px;
  height:224px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:224px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:152px;
  top:506px;
  width:91px;
  height:24px;
  overflow:hidden;
}
#u33_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:24px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34 {
  position:absolute;
  left:3px;
  top:0px;
  width:87px;
  height:24px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:270px;
  top:201px;
  width:160px;
  height:16px;
  font-size:25px;
  color:#990000;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:154px;
  top:250px;
  width:90px;
  height:76px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#990000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:76px;
}
#u39 {
  position:absolute;
  left:2px;
  top:16px;
  width:86px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:341px;
  top:540px;
  width:32px;
  height:16px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
