body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:510px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:49px;
  width:400px;
  height:621px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:621px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:410px;
  top:175px;
  width:64px;
  height:20px;
  color:#999999;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:560px;
  width:100px;
  height:30px;
  font-size:20px;
  color:#999999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:175px;
  width:50px;
  height:45px;
  font-size:36px;
  color:#999999;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:45px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:46px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:212px;
  top:230px;
  width:195px;
  height:29px;
  font-size:25px;
  color:#990000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:29px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:173px;
  top:276px;
  width:274px;
  height:24px;
  font-size:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:190px;
  top:320px;
  width:240px;
  height:34px;
  font-size:20px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:236px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:190px;
  top:360px;
  width:240px;
  height:34px;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:236px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:190px;
  top:400px;
  width:240px;
  height:34px;
  font-size:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:236px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:190px;
  top:440px;
  width:240px;
  height:34px;
  font-size:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:236px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:190px;
  top:480px;
  width:240px;
  height:34px;
  font-size:20px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:34px;
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:236px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:397px;
  top:560px;
  width:33px;
  height:30px;
  font-size:20px;
  color:#666666;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  word-wrap:break-word;
}
